#customTable {
  width: 100%;
  z-index:9999;
}

.myTable {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  border-bottom: 1px solid black;
}

.data {
  padding: 5px;
}
